@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #000;
    background: #DCDCDC;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-picture {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btnPrimary {
    background: #0000FF;
    color: #FFF;
}

.textBold {
    font-weight: 500;
}

.text-muted {
    color: #A9A9A9;
}

nav {
    width: 100%;
    background: #FFF;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBar {
    background: #DCDCDC;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.searchBar input[type='search'] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #000;
}

nav .searchBar input[type='search']::placeholder {
    color: #000;
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
}

/* ==========> LEFT <========== */

main .container .left {
    height: max-content;
    position: sticky;
    top: 5.4rem;
}

main .container .left .profile {
    padding: 1rem;
    background: #FFF;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.left .sideBar {
    margin-top: 1rem;
    background: #FFF;
}

.left .sideBar .menuItem {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sideBar .menuItem:hover {
    background: rgba(88, 86, 87, 0.23);
}

.left .sideBar i {
    font-size: 1.2rem;
    color: rgba(138, 135, 136, 0.63);
    margin-left: 1.5rem;
    position: relative;
}

.left .sideBar i .notificationsCount {
    background: hsl(0, 95%, 65%);
    color: #FFF;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.left .sideBar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sideBar .active {
    background: rgba(88, 86, 87, 0.23);
}

.left .sideBar .active i,
.left .sideBar .active h3 {
    color: #0000FF;
}

.left .sideBar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: #0000FF;
}

.left .sideBar .menuItem:first-child.active {
    overflow: hidden;
}

.left .sideBar .menuItem:first-child.active {
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.left .notificationPopup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: #FFF;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 8;
    display: none;
}

.left .notificationPopup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: #FFF;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left .notificationPopup > div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notificationPopup small {
    display: block;
}

/* ==========> CENTER <========== */
.center .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
}

.center .stories .story {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.center .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    position: absolute;
    bottom: 0;
}

.center .stories .story .name {
    z-index: 2;
}

.center .stories .story:nth-child(1) {
    background: url("../images/story-6.jpg") no-repeat center center/cover;
}

.center .stories .story:nth-child(2) {
    background: url("../images/story-5.jpg") no-repeat center center/cover;
}

.center .stories .story:nth-child(3) {
    background: url("../images/story-4.jpg") no-repeat center center/cover;
}

.center .stories .story:nth-child(4) {
    background: url("../images/story-3.jpg") no-repeat center center/cover;
}

.center .stories .story:nth-child(5) {
    background: url("../images/story-2.jpg") no-repeat center center/cover;
}

.center .stories .story:nth-child(6) {
    background: url("../images/story-1.jpg") no-repeat center center/cover;
}

.center .story .profile-picture {
    width: 2rem;
    height: 2rem;
    align-self: start;
    border: 3px solid hsl(252, 75%, 60%);
}

.center .createPost {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: #FFF;
    padding: 0.4rem 0.6rem 0.5rem;
    border-radius: 2rem;
}

.center .createPost input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: #000;
    margin-right: 1rem;
}

.center .feeds .feed {
    background: #FFF;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.center .feed .head {
    display: flex;
    justify-content: space-between;
}

.center .feed .user {
    display: flex;
    gap: 1rem;
}

.center .feed .photo {
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.7rem 0;
}

.center .feed .actionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.center .likedBy {
    display: flex;
}

.center .likedBy span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #FFF;
    margin-left: -0.6rem;
}

.center .likedBy span:first-child {
    margin: 0;
}

.center .likedBy p {
    margin-left: 0.5rem;
}

.center .feed .caption {
    padding: 1rem;
}

.center .feed .caption p {
    font-size: 1rem;
}

.center .feed .caption p .hashTag {
    color: rgba(103, 101, 102, 0.43);
}

.center .feed .comments {
    color: rgba(103, 101, 102, 0.43);
}

/* ==========> RIGHT <========== */

.main .container .right {
    height: max-content;
    position: sticky;
    top: -18rem;
    bottom: 0;
}

.right .messages {
    background: #FFF;
    border-radius: 1rem;
    padding: 1rem;
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .searchBar {
    display: flex;
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid #F8F8FF;
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

.right .messages .category .active {
    border-color: #000;
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .message .profile-picture {
    position: relative;
    overflow: visible;
}

.right .profile-picture img {
    border-radius: 50%;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message p {
    font-size: 0.8rem;
}

.right .messages .message .profile-picture .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid #FFF;
    background: #7CFC00;
    position: absolute;
    bottom: 0;
    right: 0;
}

.right .friendRequests {
    margin-top: 1rem;
}

.right .friendRequests h4 {
    color: #DCDCDC;
    margin: 1rem 0;
}

.right .request {
    background: #FFF;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
}

.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .request .action {
    display: flex;
    gap: 1rem;
}

/* ==========> THEME <========== */

.customizeTheme {
    background: rgba(205, 206, 208, 0.25);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    display: none;
}

.customizeTheme .card {
    background: #FFF;
    padding: 3rem;
    border-radius: 1rem;
    width: 50%;
    box-shadow: 0 0 1rem #0000FF;
}

.customizeTheme .font-size {
    margin-top: 5rem;
}

.customizeTheme .font-size > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(205, 206, 208, 0.25);
    padding: 0.6rem 1rem;
    border-radius: 1rem;
}

.customizeTheme .choose-size {
    background: #87CEFA;
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customizeTheme .choose-size span {
    width: 1rem;
    height: 1rem;
    background: #87CEFA;
    border-radius: 50%;
    cursor: pointer;
}

.customizeTheme .choose-size span.active {
    background: rgba(6, 76, 120, 1);
}

.customizeTheme .color {
    margin-top: 2rem;
}

.customizeTheme .chooseColor {
    background: rgba(205, 206, 208, 0.25);
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customizeTheme .chooseColor span {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.customizeTheme .chooseColor span:nth-child(1) {
    background: rgba(87, 10, 128, 1);
}

.customizeTheme .chooseColor span:nth-child(2) {
    background: rgba(255, 194, 0, 1);
}

.customizeTheme .chooseColor span:nth-child(3) {
    background: rgba(255, 0, 19, 1);
}

.customizeTheme .chooseColor span:nth-child(4) {
    background: rgba(35, 255, 0, 1);
}

.customizeTheme .chooseColor span:nth-child(5) {
    background: rgba(0, 61, 255, 1);
}

.customizeTheme .chooseColor span.active {
    border: 8px solid #FFF;
}

.customizeTheme .background {
    margin-top: 2rem;
}

.customizeTheme .chooseBG {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.customizeTheme .chooseBG > div {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

.customizeTheme .chooseBG > div.active {
    border: 2px solid #0000FF;
}

.customizeTheme .chooseBG .bg1 {
    background: #FFF;
    color: #000;
}

.customizeTheme .chooseBG .bg2 {
    background: #483D8B;
    color: #FFF;
}

.customizeTheme .chooseBG .bg3 {
    background: #000;
    color: #FFF;
}

.customizeTheme .chooseBG > div span {
    width: 2rem;
    height: 2rem;
    border: 2px solid #A9A9A9;
    border-radius: 50%;
    margin-right: 1rem;
}

.customizeTheme .card {
    width: 80vw;
}

/* ==========> MEDIA QUERIES FOR SMALL LAPTOPS <========== */

@media screen and (max-width: 1200px) {
    .container {
        width: 96%;
    }

    main .container {
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }

    .left {
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profile {
        display: none;
    }

    .sideBar h3 {
        display: none;
    }

    .left .btn {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    nav .searchBar {
        display: none;
    }

    main .container {
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }

    main .container .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .left .notificationPopup {
        position: absolute;
        left: -20rem;
        width: 20rem;
    }

    .left .notificationPopup::before {
        /*display: absolute;*/
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }

    main .container .center {
        grid-column: 1/3;
    }

    main .container .right {
        display: none;
    }

    .customizeTheme .card {
        width: 92vw;
    }
}