<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StraKal - Login Or Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/registerOrLogin.css"/>
</head>
<body>
<div class="bg">
    <div class="card">
        <div class="inner-box" id="card">
            <div class="card-front">
                <h2>LOGIN</h2>
                <form th:method="POST" th:action="@{/auth/login}">
                    <input name="email" type="email" class="input-box" placeholder="Your Email" required>
                    <input name ="password" type="password" class="input-box" placeholder="Password" required>
                    <button type="submit" class="submit-btn">Submit</button>
                    <input type="checkbox"><span>Remember Me</span>
                </form>
                <button type="button" class="btn" onclick="openRegister()">I'm new here</button>
                <a href="">Forget Password</a>
            </div>
            <div class="card-back">
                <h2>REGISTER</h2>
                <form th:method="POST" th:action="@{/auth/register}">
                    <input name="username" type="text" class="input-box" placeholder="Your Username" required>
                    <input name="firstName" type="text" class="input-box" placeholder="Your Name" required>
                    <input name="lastName" type="text" class="input-box" placeholder="Your Last Name" required>
                    <input name="email" type="email" class="input-box" placeholder="Your Email Id" required>
                    <input name="password" type="password" class="input-box" placeholder="Password" required>
                    <button type="submit" class="submit-btn">Submit</button>
                    <input type="checkbox"><span>Remember Me</span>
                </form>
                <button type="button" class="btn" onclick="openLogin()">I have an account</button>
                <a href="">Forget Password</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/registerOrLogin.js"></script>
</body>
</html>